    <div class="title-header">
      <h4 class="title-name">Routes</h4>
      <div class="buttons">
        <button onclick="showmodal()" class="butt">Add Routes</button>
      </div>
    </div>

    <main id="card-container">
    <div class="row">

      {{#each routes}}
        <div class="col">
          <section class="card">
            <span class="close">x</span>
            <div class="route-number">
              Route #{{this.routeID}}
              <div class="route-name">
                Route: {{this.routename}}
              </div>
              <div class="train-number">
                Train # on this route: {{this.trainID}}
              </div>
            </div>



            <div class="stationname">
              Stations:
            </div>
            <div class="route-card">

            {{#each ../routesthrustations}}
              {{#if_eq ../routeID this.routeID}}
                <text>Current-Station #: {{this.stationID}} </text><br>
                <text>Travel Time: {{this.travelduration}}</text><br>
                <text>Miles Traveled: {{this.milestraveled}}</text><br><br>
              {{/if_eq}}
            {{/each}}
            </div>




          </section>
        </div>
      {{/each}}

    </div>
    </main>

    <form class="insert">
      <div class="middle">
        <h3>Insert Route</h3>
      </div>
      <div class="input-box">
        <label>Route Name</label>
        <input type="text" id="route-name">
      </div>
      <div class="input-box">
        <label>Train on this route</label>
        <select id="train-on-route">
          <option value="">None</option>
          {{#each trains}}
          <option value={{this.trainID}}>Train {{this.trainID}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-box">
        <label>Ticket Price</label>
        <input type="number" min="1" step="1" id="ticket-price">
      </div>
      <button onclick="insertroute();" class="button" id="submit-route">Submit</button>
    </form>

    <form class="insert">
      <div class="middle">
        <h3>Add Stations to Route</h3>
      </div>
      <div class="input-box">
        <label>Select Route To Add Stations To</label>
        <select name="route" id="add-route">
          {{#each routes}}
          <option value={{this.routeID}}>Route {{this.routeID}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-box">
        <label>Select From Available Station</label>
        <select name="station" id="add-station">
          {{#each stations}}
          <option value={{this.stationID}}>Station {{this.stationID}}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-box">
        <label>Travel Duration (min)</label>
        <input type="number" min="0" step"1" id="travel-duration">
      </div>
        <label>Miles Traveled (min)</labe>
        <input type="number" min="0" step="1" id="miles-traveled">
      <div class="input-box">
      </div>
      <button onclick="insertstationroute();" class="button" id="submit-station-route">Submit</button>
    </form>

  </body>
</html>
