<html>
<div class="title-header">
  <h4 class="title-name">Stations</h4>

  <div id='search-container' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <select id='station_filter' name="station">
      {{#each data_dropdown}}
      <option value="{{stationID}}">{{state}}</option>
      {{/each}}
    </select><br>
  </div>
  <button type="button" value="Filter" onclick="searchfunction(); return false;" class="dropbtn"> Search </button>


  <div class="buttons">
    <button onclick="showmodal();" class="butt">Add Stations</button>
    {{!-- <button onclick="showsearch(); return false;" class="butt">Search Stations</button> --}}
  </div>
</div>

<main id="card-container">
  <div id="row">

    {{#each stations}}
    <div class="col">
      <section class="card">
        <button value={{this.stationID}} class="close_card" onclick="deletestations(this)">x</button>
        <div class="train-number">
          Station #{{this.stationID}}
        </div>
        <div class="station-name">
          Name: {{this.stationname}}
        </div>
        <div class="station-address">
          Address: {{this.address}}
        </div>
        <div class="station-state">
          State: {{this.state}}
        </div>
        <div class="station-city">
          City: {{this.city}}
        </div>
        <div class="station-zipcode">
          Zipcode: {{this.zipcode}}
        </div>
      </section>
    </div>
    {{/each}}

  </div>
</main>

<form class="insert">
  <div class="middle">
    <h3>Insert Station</h3>
  </div>
  <div class="input-box">
    <label>Station Name</label>
    <input type="text" id="station-name">
  </div>
  <div class="input-box">
    <label>Address</label>
    <input type="text" id="station-address">
  </div>
  <div class="input-box">
    <label>City</label>
    <input type="text" id="station-city">
  </div>
  <div class="input-box">
    <label>State</label>
    <input type="text" id="station-state">
  </div>
  <div class="input-box">
    <label>Zipcode</label>
    <input type="number" step="1" id="station-zipcode">
  </div>
  <button onclick="insertstation();" class="button" id="submit-station">Submit</button>
</form>

</html>
