<script src="/index.js"></script>


<div class="title-header">
  <h4 class="title-name">Trains</h4>
  <div class="buttons">
    <button onclick="showmodal()" class="butt">Add a Train</button>
    <button onclick="showmodal2()" class="butt">Update a Train</button>
  </div>
</div>

<main id="card-container">
  <div id="row">

    {{#each data}}
    <div class="col">
      <section class="card">
        <div class="train-number">
          Train {{this.trainID}}
        </div>
        <div class="train-conductor">
          Conductor: {{this.conductorfirstname}} + {{this.conductorlastname}}
        </div>
        <div class="train-model">
          Model: {{this.model}}
        </div>
        <div class="train-price">
          Price: {{this.cost}}
        </div>
        <div class="train-capacity">
          Capacity: {{this.capacity}}
        </div>
      </section>
      </div>
      {{/each}}

  </div>
</main>

<form class="insert">
  <div class="middle">
    <h3>Insert Train</h3>
  </div>
  <div class="input-box">
    <label>Main Station</label>
    <select id="main-station">
      <option value="">None</option>
      {{#each data1}}
      <option value={{this.stationID}}>{{this.stationname}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-box">
    <label>Model</label>
    <input type="text" id="train-model">
  </div>
  <div class="input-box">
    <label>Cost</label>
    <input type="number" min="1" step="1" id="train-cost">
  </div>
  <div class="input-box">
    <label>Capacity</label>
    <input type="number" min="1" step="1" id="train-capacity">
  </div>
  <div class="input-box">
    <label>Conductor's First Name</label>
    <input type="text" id="train-first-conductor">
  </div>
  <div class="input-box">
    <label>Conductor's Last Name</label>
    <input type="text" id="train-last-conductor">
  </div>
  <button onclick="inserttrain();" class="button" id="submit-train">Submit</button>
</form>



<form class="update">
  <div class="middle">
    <h3>Update Train</h3>
  </div>
  <div class="update-box">
    <label>Train #</label>
    <select name="train">
      <option value="1">Train 1</option>
      <option value="2">Train 2</option>
      <option value="3">Train 3</option>
      <option value="4">Train 4</option>
    </select>
  </div>
  <div class="update-box">
    <label>Assigned Route</label>
    <input type="text" id="train-route-update">
  </div>
  <div class="update-box">
    <label>Model</label>
    <input type="text" id="train-model-update">
  </div>
  <div class="update-box">
    <label>Price</label>
    <input type="text" id="train-price-update">
  </div>
  <div class="update-box">
    <label>Capacity</label>
    <input type="text" id="train-capacity-update">
  </div>
  <div class="update-box">
    <label>Conductor</label>
    <input type="text" id="train-conductor-update">
  </div>
  <button onclick="" class="button" id="submit-update-train">Submit</button>
</form>
